.background--white {
    background-color: #fff;
    color: var(--color-body-text)
}

.background--off-white {
    background-color: #f0edea;
    color: var(--color-body-text)
}

.background--grey {
    background-color: #222;
    color: var(--color-body-text)
}

.background--green {
    background-color: #2f3a32;
    color: #fff
}

.background--black {
    background-color: #121212;
    color: #fff
}

.background--none {
    background-color: transparent;
    color: var(--color-body-text)
}

.background .inherit--color,
.background .inherit--color p {
    color: inherit !important
}

.added-padding--top {
    padding-top: 60px
}

@media (max-width:749px) {
    .added-padding--top {
        padding-top: 30px
    }
}

.added-padding--bottom {
    padding-bottom: 60px
}

@media (max-width:749px) {
    .added-padding--bottom {
        padding-bottom: 30px
    }
}

.content--narrow {
    max-width: 600px
}

.content--medium,
.content--narrow {
    margin-left: auto;
    margin-right: auto
}

.content--medium {
    max-width: 760px
}

a[data-disabled=true] {
    pointer-events: none
}

.sr-only {
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
    border: none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.shopify-section-group-footer-group form.klaviyo-form {
    margin-inline: auto;
    max-width: 900px;
    padding-block: 30px !important;
    padding-inline: 16px !important;
    width: 100%
}

.shopify-section-group-footer-group form.klaviyo-form h1 span {
    color: var(--color-text) !important;
    font-size: var(--font-h1-desktop) !important
}

@media only screen and (max-width:749px) {
    .shopify-section-group-footer-group form.klaviyo-form h1 span {
        font-size: var(--font-h1-mobile) !important
    }
}

.shopify-section-group-footer-group form.klaviyo-form #rich-text-01JCKAZZ1B0VDT5VQSK9SZ0VQP span {
    color: var(--color-body-text) !important;
    font-size: var(--font-size-base) !important
}

@media only screen and (max-width:749px) {
    .shopify-section-group-footer-group form.klaviyo-form #rich-text-01JCKAZZ1B0VDT5VQSK9SZ0VQP span {
        font-size: var(--font-size-base-mobile) !important
    }
}

.shopify-section-group-footer-group form.klaviyo-form input[type=email]::-moz-placeholder {
    font-size: var(--font-size-base) !important
}

.shopify-section-group-footer-group form.klaviyo-form input[type=email],
.shopify-section-group-footer-group form.klaviyo-form input[type=email]::placeholder {
    font-size: var(--font-size-base) !important
}

@media only screen and (max-width:749px) {
    .shopify-section-group-footer-group form.klaviyo-form input[type=email]::-moz-placeholder {
        font-size: var(--font-size-base-mobile) !important
    }

    .shopify-section-group-footer-group form.klaviyo-form input[type=email],
    .shopify-section-group-footer-group form.klaviyo-form input[type=email]::placeholder {
        font-size: var(--font-size-base-mobile) !important
    }
}

.shopify-section-group-footer-group form.klaviyo-form button {
    background-color: var(--color-btn-primary) !important;
    color: var(--color-btn-primary-text) !important;
    font-family: var(--font-stack-body) !important;
    font-size: var(--font-size-button) !important;
    font-style: var(--font-style-body) !important;
    font-weight: var(--font-weight-button) !important;
    letter-spacing: .08em !important;
    padding-inline: 20px !important
}

.header-v2 {
    align-items: center;
    background: #fff;
    display: grid;
    gap: 1.875rem;
    grid-template-columns: 1fr max-content 1fr;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 1.875rem;
    position: relative
}

@media only screen and (max-width:1100px) {
    .header-v2 {
        padding: 0 1.25rem
    }
}

@media only screen and (max-width:1024px) {
    .header-v2 {
        padding: 1.25rem 1.875rem
    }
}

@media screen and (max-width:550px) {
    .header-v2 {
        gap: .25rem;
        padding: 1.25rem .9375rem
    }
}

@media only screen and (max-width:1024px) {
    .header-v2 nav {
        display: none
    }
}

.header-v2 .header-v2__nav-container>.nav-utilities {
    display: none
}

.header-v2 .header-v2__nav-container>.nav-utilities .header-search {
    padding-right: 0
}

.header-v2 .header-v2__nav-container>.nav-utilities .search-placeholder {
    display: none
}

@media only screen and (max-width:1024px) {
    .header-v2 .header-v2__nav-container>.nav-utilities {
        display: flex;
        gap: .625rem
    }
}

.header-v2__nav {
    align-items: center;
    display: flex;
    flex-flow: row nowrap
}

.header-v2__nav-item {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: 92px
}

.header-v2__nav-item-link {
    align-items: center;
    display: flex;
    height: 100%
}

.header-v2__nav-item:hover .megamenu:not(.megamenu--links) {
    display: flex;
    visibility: visible
}

.header-v2__nav-item:hover .megamenu.megamenu--links {
    display: grid;
    visibility: visible
}

.header-v2__nav .header-v2__nav-item+.header-v2__nav-item {
    margin-left: 1.25rem
}

@media only screen and (max-width:1100px) {
    .header-v2__nav .header-v2__nav-item+.header-v2__nav-item {
        margin-left: .5625rem
    }
}

.header-v2__nav .header-v2__nav-link {
    color: #222;
    font-size: .75rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .015rem;
    line-height: normal;
    text-transform: uppercase
}

.header-v2__nav .header-v2__nav-link--dropdown {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

.header-v2__nav .header-v2__nav-link--dropdown .header-v2__nav-item-arrow {
    padding-left: 5px
}

.header-v2__nav .header-v2__nav-link--dropdown .header-v2__nav-item-arrow>svg {
    display: block;
    height: auto;
    width: .625rem
}

.header-v2 .header-v2__mobile-menu-toggle {
    display: none
}

@media only screen and (max-width:1024px) {
    .header-v2 .header-v2__mobile-menu-toggle {
        display: block
    }
}

.header-v2__logo-container {
    width: -moz-max-content;
    width: max-content
}

.header-v2__utilities-container {
    display: inherit;
    justify-content: end
}

@media only screen and (min-width:1025px) {
    .header-v2__utilities-container {
        display: flex;
        flex-direction: row
    }
}

.header-v2__utilities-container .search-bar__form--desktop {
    display: none;
    max-width: 202px;
    position: relative
}

@media only screen and (min-width:1025px) {
    .header-v2__utilities-container .search-bar__form--desktop {
        display: block
    }
}

.header-v2__utilities-container .search-bar__form--desktop .search-bar__input {
    -webkit-padding-start: 35px;
    border-radius: 50px;
    font-size: 14px;
    min-height: 36px;
    padding-block: 8px;
    padding-inline-start: 35px
}

.header-v2__utilities-container .search-bar__form--desktop .search-bar__submit {
    height: 100%;
    left: 0;
    min-height: 36px;
    min-width: -moz-max-content;
    min-width: max-content;
    padding: 0 8px;
    position: absolute;
    top: 0
}

.header-v2__utilities-container .search-bar__form--desktop .search-bar__submit svg {
    display: block;
    height: auto;
    width: 19px
}

.header-v2__utilities-container .nav-utilities__item+.nav-utilities__item {
    margin-left: .6875rem
}

@media screen and (max-width:550px) {
    .header-v2__utilities-container .nav-utilities__item+.nav-utilities__item {
        margin-left: .25rem
    }
}

.header-v2__utilities-container .nav-utilities__item--help {
    margin-left: 1.0625rem
}

.header-v2__utilities-container .nav-utilities__item--account.nav-utilities__item--account--logged-in a {
    align-items: center;
    background-color: #f0edeb;
    border-radius: 50px;
    display: flex;
    flex-direction: row-reverse;
    gap: .125rem;
    padding: .25rem .75rem
}

.header-v2__utilities-container .nav-utilities__item--account.nav-utilities__item--account--logged-in a .yotpo-points-balance {
    font-size: .625rem;
    font-weight: 600;
    height: -moz-max-content;
    height: max-content;
    line-height: 1
}

.header-v2__utilities-container .nav-utilities__item--account.nav-utilities__item--account--logged-in a .swell-point-balance {
    display: block
}

.header-v2__utilities-container .nav-utilities__item--account.nav-utilities__item--account--logged-in .icon__fallback-text {
    bottom: -1.125rem;
    left: 50%;
    transform: translateX(-50%)
}

@media screen and (max-width:550px) {
    .header-v2__utilities-container .nav-utilities__item--help {
        display: none
    }
}

.megamenu__cards {
    align-items: flex-end;
    display: flex;
    flex: 0;
    flex-flow: column nowrap;
    padding-top: 11px
}

.megamenu__cards--wide {
    align-items: flex-start;
    flex-flow: row nowrap;
    gap: 15px;
    margin-left: -15px;
    min-width: 70%;
    width: 70%
}

.megamenu__cards--card-only {
    min-width: 100%;
    width: 100%
}

.megamenu__cards .megamenu__card {
    height: auto;
    min-width: calc(33.33333% - 15px);
    overflow: visible;
    width: calc(33.33333% - 15px)
}

.megamenu__cards .megamenu__card--has-image .megamenu__card-image {
    aspect-ratio: 16/9;
    overflow: hidden
}

.megamenu__cards .megamenu__card--has-image .megamenu__card-image:hover img {
    transform: scale(1.1)
}

.megamenu__cards .megamenu__card--has-image .megamenu__card-subtitle,
.megamenu__cards .megamenu__card--has-image .megamenu__card-title {
    background: #fff;
    color: var(--color-text)
}

.megamenu__cards .megamenu__card--has-image .megamenu__card-content {
    align-items: center;
    color: #000;
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
    position: static;
    text-align: center
}

.megamenu__cards--mobile {
    flex-flow: row wrap;
    justify-content: space-evenly
}

.megamenu__cards--mobile .megamenu__card {
    width: calc(50% - 30px)
}

.megamenu__cards--mobile .megamenu__card.megamenu__card--has-image .megamenu__card-subtitle,
.megamenu__cards--mobile .megamenu__card.megamenu__card--has-image .megamenu__card-title {
    background: none;
    color: #fff;
    text-align: center
}

.megamenu__cards--mobile .megamenu__card.megamenu__card--has-image .megamenu__card-content {
    display: flex;
    flex-flow: column;
    padding-bottom: 20px
}

.megamenu__cards--mobile .megamenu__card-subtitle,
.megamenu__cards--mobile .megamenu__card-title {
    background: none;
    color: #fff
}

.megamenu__cards--mobile a {
    background: #fff;
    color: #000;
    margin: 0 auto;
    text-transform: uppercase
}

.megamenu__card {
    margin-bottom: 20px;
    width: 236px
}

.megamenu__card-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%
}

.megamenu__card-links a+a {
    margin-left: 25px
}

.megamenu__card--has-image {
    height: 152px;
    overflow: hidden;
    position: relative
}

.megamenu__card--has-image img {
    transform: scale(1);
    transition: transform .3s ease-in-out
}

.megamenu__card--has-image:hover img {
    transform: scale(1.1)
}

.megamenu__card--has-image .megamenu__card-content {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2
}

.megamenu__card--has-image .megamenu__card-subtitle,
.megamenu__card--has-image .megamenu__card-title {
    background: rgba(0, 0, 0, .7);
    background: rgba(var(--card-bg-color), .7)
}

.megamenu__card-title {
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    text-transform: uppercase
}

.megamenu__card-subtitle,
.megamenu__card-title {
    background: #000;
    background: rgb(var(--card-bg-color));
    color: var(--card-text-color, #fff);
    font-family: proxima-nova
}

.megamenu__card-subtitle {
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px 5px;
    text-transform: capitalize
}

.megamenu__card-image {
    height: 100%;
    width: 100%
}

.megamenu__card-image img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

@media only screen and (max-width:768px) {
    .megamenu__cards--mobile {
        flex-flow: column nowrap;
        justify-content: center;
        padding: 20px
    }

    .megamenu__cards--mobile .megamenu__card {
        width: 100%
    }
}

.mobile-nav {
    display: block;
    transform: translateZ(0);
    transition: all .45s cubic-bezier(.29, .63, .44, 1)
}

.sub-nav--is-open .mobile-nav {
    transform: translate3d(-100%, 0, 0)
}

.third-nav--is-open .mobile-nav {
    transform: translate3d(-200%, 0, 0)
}

.mobile-nav__link,
.mobile-nav__sublist-link {
    display: block;
    font-size: 16px;
    padding: 15px 30px;
    width: 100%
}

.mobile-nav__link {
    position: relative
}

.mobile-nav__label {
    border-bottom: 1px solid transparent
}

.mobile-nav__link--active .mobile-nav__label {
    border-bottom-color: var(--color-text)
}

.mobile-nav__sublist-link:not(.mobile-nav__sublist-header) {
    padding-left: 70px;
    padding-right: 30px
}

.mobile-nav__item {
    display: block;
    width: 100%
}

.mobile-nav__item .icon {
    height: 14px;
    left: 50%;
    margin: -6px 0 0 -7px;
    position: absolute;
    top: 50%;
    width: 14px
}

.mobile-nav__return {
    border-right: 1px solid var(--color-border)
}

.mobile-nav__return-btn {
    padding: 24px 0;
    position: relative;
    width: 55px
}

.mobile-nav__icon {
    bottom: 0;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

.mobile-nav__table {
    display: table;
    width: 100%
}

.mobile-nav__table-cell {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    width: 1%
}

.mobile-nav__toggle-button {
    padding: 20px 15px
}

.mobile-nav__dropdown {
    background-color: var(--color-body);
    display: none;
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    z-index: 8
}

.is-active+.mobile-nav__dropdown {
    display: block;
    opacity: 1
}

.mobile-nav__dropdown.is-closing {
    opacity: .99;
    transition: all .45s cubic-bezier(.29, .63, .44, 1)
}

.mobile-nav__dropdown .mobile-nav__sublist-header {
    display: table-cell;
    font-family: var(--font-stack-header);
    font-style: var(--font-style-header);
    font-weight: var(--font-weight-header);
    padding-left: 15px;
    vertical-align: middle
}

.mobile-nav__dropdown .mobile-nav__sublist-header--main-nav-parent {
    color: var(--color-body-text)
}

.mobile-nav-wrapper {
    background-color: var(--color-body);
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: all .45s cubic-bezier(.29, .63, .44, 1);
    width: 100%
}

.mobile-nav-wrapper:after {
    border-bottom: 1px solid var(--color-border);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0
}

.mobile-nav-wrapper.js-menu--is-open {
    display: block
}

.mobile-nav--close .icon-hamburger {
    display: none
}

.site-header__mobile-nav {
    background-color: #fff;
    position: relative;
    z-index: 11
}

.js-drawer-open-top .drawer--top {
    height: 88px
}

.search-bar__input {
    border: 1px solid #ccc;
    border-radius: 5px
}

.megamenu-cta-btn {
    background-color: var(--color-text);
    border: 1px solid;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 600;
    height: 40px;
    letter-spacing: .031rem;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease-in
}

@media only screen and (max-width:749px) {
    .site-header__mobile-nav {
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        display: flex;
        width: 100%
    }
}

.header-v2 .megamenu {
    background: #fff;
    border-top: 2px solid #e6e6e6;
    display: none;
    flex-flow: row nowrap;
    gap: 1.875rem;
    justify-content: space-between;
    left: 0;
    max-height: calc(100vh - 10.75rem);
    min-height: -moz-min-content;
    min-height: min-content;
    overflow-y: auto;
    padding: 1.5rem 2.5rem;
    position: absolute;
    right: 0;
    top: 100%;
    visibility: hidden;
    width: 100%
}

.header-v2 .megamenu__cta {
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 20px;
    padding: 10px 0 20px
}

.header-v2 .megamenu__button {
    background-color: var(--color-text);
    border: 1px solid;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 600;
    height: 40px;
    letter-spacing: .031rem;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease-in
}

.header-v2 .megamenu__button:hover {
    background-color: #fff;
    border-color: var(--color-text);
    color: var(--color-text)
}

.header-v2 .megamenu.megamenu--links {
    grid-template-columns: repeat(5, 1fr);
    overflow: auto
}

.header-v2 .megamenu.megamenu--links .megamenu__links {
    -moz-column-count: 4;
    column-count: 4;
    -moz-column-gap: 40px;
    column-gap: 40px;
    display: block;
    display: grid;
    grid-column: span 4/span 4;
    grid-template-columns: repeat(4, 1fr)
}

.header-v2 .megamenu.megamenu--links .megamenu__links ul {
    max-width: 232px;
    padding-right: clamp(20px, 2vw, 30px)
}

.header-v2 .megamenu.megamenu--links .megamenu__links .megamenu__item {
    max-width: 100%;
    padding-right: clamp(20px, 2vw, 30px);
    width: 100%
}

.header-v2 .megamenu__links {
    align-content: flex-start;
    -moz-column-gap: 16px;
    column-gap: 16px;
    display: flex;
    flex: 2;
    flex-flow: column wrap;
    height: 100%
}

.header-v2 .megamenu__links--cards {
    -moz-column-gap: 0 !important;
    column-gap: 0 !important;
    display: flex;
    flex-flow: row nowrap;
    width: 100%
}

.header-v2 .megamenu__links--cards .megamenu__links-list {
    margin-left: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 30%
}

.header-v2 .megamenu__links--cards .megamenu__links-list .megamenu__item {
    border: 0;
    max-width: 100%;
    width: 100%
}

.header-v2 .megamenu__links--cards .megamenu__links-list .megamenu__item .megamenu__link--parent {
    color: var(--color-text);
    font-size: 14px;
    font-weight: 400;
    text-transform: none
}

@media only screen and (min-width:1350px) {
    .header-v2 .megamenu__links {
        -moz-column-gap: 32px;
        column-gap: 32px
    }
}

.header-v2 .megamenu__item {
    border-bottom: 1px solid #ececec;
    max-width: 232px;
    padding-bottom: .75rem;
    padding-right: 30px;
    width: 25%
}

.header-v2 .megamenu__child-item {
    margin-top: .6875rem
}

.header-v2 .megamenu__link {
    color: #222;
    display: block;
    font-style: normal;
    line-height: normal
}

.header-v2 .megamenu__link--parent {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .015rem;
    line-height: 121%;
    padding-top: 11px;
    text-transform: uppercase
}

.header-v2 .megamenu__link--parent:hover {
    text-decoration: underline
}

.header-v2 .megamenu__link--child {
    font-size: 15px;
    font-weight: 400;
    line-height: 121%;
    text-transform: capitalize
}

.header-v2 .megamenu__link--child:hover {
    text-decoration: underline
}

.header-v2 .megamenu__child-item--shop-all .megamenu__link {
    font-weight: 600
}

.social-sharing {
    display: flex
}

.social-sharing,
.template-password .social-sharing {
    justify-content: center
}

.btn--share {
    background-color: transparent;
    border: 0;
    color: var(--color-text)
}

.btn--share:focus,
.btn--share:not([disabled]):hover {
    background-color: transparent;
    border-color: var(--color-btn-social-focus);
    color: var(--color-text)
}

.btn--share .icon {
    height: 24px;
    margin-right: 4px;
    vertical-align: middle;
    width: 24px
}

.btn--share .icon-facebook,
.btn--share .icon-pinterest,
.btn--share .icon-twitter {
    fill: currentColor
}

.share-title {
    display: inline-block;
    vertical-align: middle
}